// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;
$header-bg: #89B594;
$font-name: "Open Sans";
$font-post: "Raleway";


$break-small: 1249px;
$break-large: 1250px;
$border-color: #478c58;