<footer class="footer">
  <nav class="footer-nav">
    <a href="{{ site.github.url }}/" class="footer-link">HOME</a>
    <a href="{{ site.github.url }}/the-science" class="footer-link">BIOPHYSICAL MODELING</a>
    <a href="{{ site.github.url }}/infrared-modeling" class="footer-link">INFRARED IMAGERY</a>
    <a href="{{ site.github.url }}/tools" class="footer-link">TOOLS</a>
    <a href="{{ site.github.url }}/case-studies" class="footer-link">CASE STUDIES</a>
    <a href="{{ site.github.url }}/about" class="footer-link">ABOUT THE PROJECT</a>
  </nav>
  <div class="footer-social">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </div>
  <div class="footer-description">
    &copy; 2026 TrEnCh Project. Site originally designed by
    <a href="https://www.impactmedialab.com/" target="_blank">Impact Media Lab</a>.
  </div>
</footer>
