// --------------------------------------------------
// Layout post
// --------------------------------------------------

@import "l-blogindex";

.headline {
	height: 200px;
	background: $header-bg;

	@media screen and (max-width: $break-small){
		height: 120px;
	}
	@media screen and (min-width: $break-large){
		height: 250px;

	}

	h1 {
		@media screen and (max-width: $break-small){
		  padding-top: .4rem;
		  font-size: 1.6rem;
		}
		@media screen and (min-width: $break-large){
		  font-size: 4vw;
		  padding-top: 2rem;
		}
		
		font-size: 4em;
		text-align: center;
	}


}

.small {
	@media screen and (max-width: $break-small){
		height: 65px;
	}
	@media screen and (min-width: $break-large){
		height: 120px;

	}
	.post_title {
		max-height: 120px;
		margin: auto 0;
		padding-top: 0.5rem;
		text-align: center;
	}
}

.post_date{
	text-align: center;
	@media screen and (max-width: $break-small){
		font-size: 1.2vw;

	}
	@media screen and (max-width: $break-large){
		font-size: 1rem;
	}
}

.post_descr {
	margin: auto;
	max-width: 750px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;


	@media screen and (max-width: $break-small){
		  font-size: 0.9rem;
		}
		@media screen and (min-width: $break-large){
		  font-size: 1.2rem;
		}
	
}

.post_content {
	margin: auto;
	max-width: 850px;
}

