---
layout: trench-page
title: Case Studies
permalink: /case-studies
---

<section class="trench-hero" style="background-image: url('{{ site.github.url }}/assets/img/gothic2_butterflyhunters-1974.webp');">
  <h1>CASE STUDIES</h1>
  <h2>Putting microclimate and biophysical models to work in the mountains of Colorado</h2>
</section>

<section class="trench-section">
  <p class="trench-lead">Two ongoing TrEnCh projects in the mountains of Colorado are repeating historical field observations and field and lab experiments as well as measuring historical specimens to examine ecological and evolutionary responses to recent climate change. Explore our flagship case studies below.</p>

  <div class="trench-grid trench-grid--2">
    <div class="feature-card">
      <h3>Coloration in <em>Colias</em> Butterflies</h3>
      {% include img.html file="Colias.webp" alt="Colias butterfly" %}
      <p>A legacy of climate change measured in wing color. We repeated historic field and laboratory experiments and examined museum specimens to understand the ecological and evolutionary responses of <em>Colias</em> butterflies to climate change.</p>
      <a href="{{ site.github.url }}/butterfly" class="learn-more">See the case study &gt;</a>
    </div>
    <div class="feature-card">
      <h3>Alexander Grasshopper Resurvey</h3>
      {% include img.html file="field.webp" alt="grasshopper" %}
      <p>Looking to the past for answers about our future. Repeating field surveys begun in the 1950s revealed that populations and species have shifted their phenologies and relative abundances over 50 years of climate warming.</p>
      <a href="{{ site.github.url }}/grasshopper" class="learn-more">See the case study &gt;</a>
    </div>
  </div>
</section>
